<div class="aboutme">
    <h1>ABOUT ME</h1>
    <h2>IRVEN L. ABARQUEZ</h2>
    <img src="./img/aboutmepicture.jpg" alt="icon" class="w3-square"> 
    <div class="aboutme_description">
        <p>Hello there! I'm a 19-year-old BSIT student hailing from Northern Bukidnon State College. My name is <span class="namehover">Irven L. Abarquez</span>. Embracing a simple and minimalist lifestyle, I find joy in the art of programming and web development, continuouslsy honing my skills in these domains. As I navigate the fascinating world of coding, I'm fueled by the passion to evolve into a proficient developer. Behind every thing of that my hobbies are, venturing out of in the beauty of natures and killing time with enjoyment in gaming.</p>
    </div>
</div>