<div class="description_group">
    <p class="description">Hello everyone! I'm Irven Abarquez, a driven person with a strong desire to succeed in the computer industry and maybe has a passion for coding. haha.</p>
    <p class="description">In my opinion, learning to code is a mindset that leads to countless opportunities rather than just a technical ability. The thrill of creating, solving problems, and the ongoing learning that goes along with it is what motivates me to pursue a career in development.
    </p>
    <p class="description">I'm now developing my technological talents and learning about the wide world of programming, web development, and everything in between. I take pleasure in using beautiful and effective code to bring concepts to life.
    </p>
</div>