

<div class="home_group">
    

    <div class="home_headers w3-container">
        <h2 class="head subtitle margin">Hi There,</h2>
        <h1 class="head title margin"><span class="titlehover">I'm </span><span class="titlehover">Irven</span> <span class="titlehover">Abarquez</span></h1>
        <h2 class="head subtitle margin">a wannabe web dev</h2>
        
        
    </div>

    <img src="./img/PROFILEwgridsnobg.png" alt="icon" class="profile w3-circle w3-right">

    <div class="aboutmebutton">
        <p class="aboutmepress">ABOUT ME</p>
    </div>
</div>




