<h1 class="blackcolor">MEMES</h1>
<br>
<br>
<h2 class="blackcolor" style="background-color: black;"> 🤑🤑🤑🤑🤑🤑🤑🤑🤑🤑🤑🤑🤑🤑🌄😊Mayng Adlaw😊🌄🤑🤑🤑🤑🤑🤑🤑🤑🤑🤑🤑🤑🤑🤑</h2>

<div class="aaa">
    <div style="float: left;">
        
        <img src="https://i.pinimg.com/originals/9b/bb/28/9bbb28fecad2a29b4ebdc1ddbecbb6e6.gif" alt="rollrick">

        <p class="blackcolor bigsize">Press F if you're not g4y or press N if you're racist</p>

        <audio id="myAudio" src="https://www.myinstants.com/media/sounds/hamood-habibi-mp3cut_xUAtGR3.mp3"></audio>
        <audio id="myAudio2" src="https://www.myinstants.com/media/sounds/nibbers-bass-drop.mp3"></audio>
    </div>    
    <div style="float: right;">

        <video width="560" height="315" controls>
            <source src="./mayngpasko.mp4" type="video/mp4">
        </video>
        
    </div>
    <div style="float: center;">
        <button onclick="playAudio('https://www.myinstants.com/media/sounds/uwu-2.mp3')">likey</button>
        <button onclick="playAudio('https://www.myinstants.com/media/sounds/what_is_love-mp3cut.mp3')">Unsa ang gugma</button>
        <button onclick="playAudio('https://www.myinstants.com/media/sounds/super-shy-reff.mp3')">kaulaw</button>
        

    </div> 
</div>


<script src="js/conditions.js"></script>