.title {
    text-shadow: -1px 1px 8px rgb(98, 97, 97);
    color: #000000;
    font-family: Impact, Charcoal, sans-serif;
    font-weight: bolder;
    font-size: 500%;
    letter-spacing: 2px;
    word-spacing: 2px;
    padding: 10px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.625), rgba(255, 255, 255, 0));
    width: 150%;
    border-radius: 10px; /* Rounded corners */
    transition: transform 0.3s ease-in-out;
}

.titlehover:hover{
    text-shadow: -1px 1px 8px rgb(0, 0, 0);
    color: #f9f5f5ec;
    font-family: Impact, Charcoal, sans-serif;
    font-weight: bolder;
    letter-spacing: 2px;
    word-spacing: 2px;

}


.subtitle {
    font-size: 300%;
    color: #f9f9f9;
    text-shadow: -1px 1px 15px rgba(0, 0, 0, 0.834);
    
    font-family: Georgia, serif;
    letter-spacing: 2px;
    word-spacing: 2px;
    font-weight: 400;
    text-decoration: none;
    font-style: italic;
    font-variant: small-caps;
    text-transform: lowercase;
    margin-top: 5px;
    margin-left: 10%;
    transition: color 0.3s ease-in-out;
}

.subtitle:hover {
    color: #000000;
    text-shadow: -1px 1px 15px rgba(255, 255, 255, 0.982);
}

.home_headers {
    margin-left: -15%;
    
    transition: transform 0.3s ease-in-out;
}



.home_group {
    margin-top: 5%;
    margin-left: -4%;
    transition: transform 0.3s ease-in-out;
}

.home_group:hover {
    transform: scale(1.05);
}

.margin {
    margin-left: 20%;
}

.profile {
    margin-right: 5%;
    margin-top: -16%;
    
    width: 40%;
    clip-path: polygon(24% 16%, 85% 16%, 71% 92%, 4% 92%);
    box-shadow: 0 4px 8px rgb(0, 0, 0);
    transition: transform 0.3s ease-in-out;
    height: auto;
    animation: idleMovement 1s infinite alternate; /* You can adjust the duration and animation type */
  }
  
  @keyframes idleMovement {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(15px); /* Adjust the distance the image moves */
    }
  }
  

.marginaboutme{
    margin-top: 15%;

}
.aboutmebutton {
    margin-top: -6%;
    margin-left: 20%;
    border-radius: 10px;
    padding: -15px;
    background-image: linear-gradient(to right, #000, #fff);
    background-size: 200% 100%;
    transition: background-position 0.5s ease;
    width: 11%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.aboutmebutton:hover {
    background-position: -100% 0;
}

.aboutmepress {
    font-size: xx-large;
    color: #f9f9f9;
    text-shadow: -1px 1px 15px rgba(0, 0, 0, 0.834);
    font-family: Impact, Charcoal, sans-serif;
    letter-spacing: 2px;
    word-spacing: 2px;
    margin-top: 5px;
    margin-left: 10%;
    transition: color 0.5s ease;
}

.aboutmebutton:hover .aboutmepress {
    color: #000; /* Change the color on hover */
}